<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <LogPath>Logs/ProcessorLogs/</LogPath>
  <Trace>True</Trace>
  <ImageWindowName>Image</ImageWindowName>
  <ShowCannyImage>True</ShowCannyImage>
  <CannyImageName>Canny Image</CannyImageName>
  <LowerThresh>100</LowerThresh>
  <UpperThresh>200</UpperThresh>
  <MaxThresh>255</MaxThresh>
  <ApetureSize>3</ApetureSize>
  <ImageBlendAlpha>0.3</ImageBlendAlpha>
  <ImageBlendGamma>0.0</ImageBlendGamma>
  <MaxImageWidth>100</MaxImageWidth>
  <MaxImageHeight>100</MaxImageHeight>
  <PacketAckTimeout>1000000</PacketAckTimeout>
</configuration>
